body {
	font-family: 'Kanit', Arial,Helvetica, sans-serif;
	color: #424242;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff6f51), color-stop(#ef4e34), to(#ff6f51));
	background: -webkit-linear-gradient(#ff6f51, #ef4e34, #ff6f51);
	background: -o-linear-gradient(#ff6f51, #ef4e34, #ff6f51);
	background: linear-gradient(#fff, #eee, #fff); }


.content {
	height: 100vh; }

#bloc404 {
	position: relative;
	top: 30%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%); }

.four {
	font-size: 20vw;
	color: linear-gradient(#555, #000, #555);
}

.travolta {
	border-radius: 50%;
	background: linear-gradient(#555, #000, #555);
	overflow: hidden;
	width: 20vw; }

img.gif {
	height: 100%;
}
p {
	  text-align: center;
  }

.ms1{
	text-align: center;
	color: #000;
}

.ms2{
	color: #333;
}